In [5]:
#importando biblioteca
import pandas as pd

#lendo dados
df_janeiro = pd.read_csv('BD_imigrantes_2023\JANEIRO_2023.csv',delimiter = ';')
df_janeiro.head()

<>:5: SyntaxWarning: invalid escape sequence '\J'
<>:5: SyntaxWarning: invalid escape sequence '\J'
C:\Users\jenni\AppData\Local\Temp\ipykernel_6844\3695179426.py:5: SyntaxWarning: invalid escape sequence '\J'
  df_janeiro = pd.read_csv('BD_imigrantes_2023\JANEIRO_2023.csv',delimiter = ';')

   UF  NACIONALIDADE CLASSIFICACAO    QTD
0  SP       COLÔMBIA     Residente  10802
1  SP        BOLÍVIA     Residente  86921
2  SP      ARGENTINA     Residente  21888
3  SP  CORÉIA DO SUL     Residente  15626
4  SP       PORTUGAL     Residente  77525

In [9]:
def media_mes(data_frame):
    coluna = 'QTD'
    media = data_frame[coluna].mean()
    return media

268.78490052712124